---
import Layout from "../layouts/Layout.astro";
import LinkPublic from "@/components/LinkPublic.vue";

const siteName = "AstroLinky";
const IS_PUBLIC = import.meta.env.IS_PUBLIC == 1 ? true : false;
const baseUrl = Astro.url.origin
---

{
  IS_PUBLIC && (
    <Layout title={siteName}>
      <div class="container py-14 self-center grid place-items-center h-full"> 

      <LinkPublic client:idle base-url={baseUrl} >
        <h1 class="text-4xl font-bold">Your Astro-Powered URL Shortener & QR Code Generator
            </h1>
            <p class="text-lg"><b> AstroLinky </b> lets you create short, easy-to-share URLs with just a few clicks. Powered by the speed and efficiency of Astro, we provide you with lightning-fast redirects, custom URL slugs, and the ability to generate QR codes in seconds.</p>
      </LinkPublic>
      </div>
    </Layout>
  )
}
{
  !IS_PUBLIC && (
    <Layout title="404">
      <div class="p-4 sm:p-8 absolute inset-0 grid place-items-center">
        <div class="text-center grid">
          <h1 class="text-5xl md:text-7xl">404</h1>
          <p class="text-xl uppercase">link not found</p>
        </div>
      </div>
    </Layout>
  )
}
